.ckeditor__total__wrapper {
  padding-bottom: 1rem;
  border: 1px solid gray;
}
.ckeditor__wrapper {
  position: relative;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border: none !important;
}

.ck.ck-toolbar {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid gray !important;
}

.ck-dropdown.ckeditor5-musicSelect-dropdown > div > ul > li {
  display: flex !important;
  height: 40px !important;
  justify-content: flex-end !important;
  align-items: center !important;
  position: relative !important;
  width: 100% !important;
  background-color: #eeeeee !important;
}

span.ck.ck-tooltip.ck-tooltip_s.ck-hidden {
  display: none !important;
}
.ck-dropdown.ckeditor5-musicSelect-dropdown > div{
  min-width: 180px;
}
.ck-dropdown.ckeditor5-musicSelect-dropdown > div > ul > li > button {
  border: none !important;
  overflow-y: visible;
  overflow-x: visible;
  width: 12px !important;
  max-height: 12px !important;
  height: 24px !important;
  margin-left: auto !important;
  background: center / contain no-repeat url("./icon/check.svg") !important;
}

.ck-dropdown.ckeditor5-musicSelect-dropdown > div > ul > li > button > span {
  display: flex !important;
  align-items: center !important;
  position: absolute;
  left: -140px;
  width: 156px !important;
  pointer-events: none !important;
}

.ck-dropdown.ckeditor5-musicSelect-dropdown > div > ul > li > button :after {
  content: "";
  cursor: pointer;
  pointer-events: initial;
  overflow: hidden;
  position: absolute;
  right: 20px;
  background: center / cover no-repeat url("./icon/play.svg") !important;
  width: 10px !important;
  height: 10px !important;
}

/* tag */
.tag__input-and-autolist-wrapper {
  position: relative;
}

.autoTagList {
  top: 10px;
  left: 0;
  position: absolute;
  list-style: none;
  background-color: white;
  border: solid 0.1px black;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 2px 2px 2px 2px #80808033;
}

.autoTagList > li {
  cursor: pointer;
  text-align: left;
  margin: 0 0 0.5rem 0;
}
.autoTagList > li:last-child {
  margin: 0 0 -0.5rem 0;
}

.tag__wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
}

.tag__input {
  margin-left: 1rem;
  outline: none;
  border: none;
}
.tag__input:focus {
  outline: none;
}

.tag__tags {
  display: flex;
}

.tag__item {
  border: solid 0.05px gray;
  border-radius: 9999px;

  padding: 0.1rem 0.3rem;
  margin: 0 0.5rem 0 0;
  display: flex;
  align-items: center;
}

.tag__item > span:nth-child(1) {
  margin: 0 0 0 0.2rem;
}
.tag__item > span:nth-child(2) {
  margin: -0.25rem 0 0 0.2rem;
}
.tag__item > span:nth-child(3) {
  line-height: 0;
  margin: -0.21rem 0.3rem 0 0.6rem;
  font-size: 0.7rem;
  font-weight: bold;
}

.tag__item__delete-btn {
  margin: 0 0 0 0.2rem;
  cursor: pointer;
  color: gray;
  font-weight: bold;
}

.btn__wrapper {
  margin: 3rem 0 0 0;
}
